// Colors

$black:        #0a0a0a // Valor original
$black-bis:    #121212 // Valor original
$black-ter:    #242424 // Valor original

$grey-darker:  #363636 // Valor original
$grey-dark:    #4a4a4a // Valor original
$grey:         #7a7a7a // Valor original
$grey-light:   #b5b5b5 // Valor original
$grey-lighter: #dbdbdb // Valor original

$white-ter:    #f5f5f5 // Valor original
$white-bis:    #fafafa // Valor original
$white:        #ffffff // Valor original

$orange:       #f0ad4e
$yellow:       #fff281 // Valor original
$green:        #5cb85c
$turquoise:    #00d1b2 // Valor original
$cyan:         #5bc0de
$blue:         #428bca
$purple:       #b86bff // Valor original
$red:          #d9534f

// Typography

$family-sans-serif: 'Nunito', Arial, sans-serif
$family-monospace: monospace // Valor original
$render-mode: optimizeLegibility // Valor original

$size-1: 3rem // Valor original
$size-2: 2.5rem // Valor original
$size-3: 2rem // Valor original
$size-4: 1.5rem // Valor original
$size-5: 1.25rem // Valor original
$size-6: 1rem // Valor original
$size-7: 0.75rem // Valor original

$weight-light: 300 // Valor original
$weight-normal: 400 // Valor original
$weight-medium: 500 // Valor original
$weight-semibold: 600 // Valor original
$weight-bold: 700 // Valor original

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 64px // Valor original
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px // Valor original
// 960px container + 4rem
$desktop: 960px + (2 * $gap) // Valor original
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) // Valor original
$widescreen-enabled: true // Valor original
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) // Valor original
$fullhd-enabled: true // Valor original

// Miscellaneous

$easing: ease-out // Valor original
$radius-small: 2px // Valor original
$radius: 4px // Valor original
$radius-large: 6px // Valor original
$radius-rounded: 290486px // Valor original
$speed: 86ms // Valor original

// Flags

$variable-columns: true // Valor original

// Colors

$primary: $blue
$info: $cyan // Valor original
$success: $green // Valor original
$warning: $yellow // Valor original
$danger: $red // Valor original
$light: $white-ter // Valor original
$dark: $grey-darker // Valor original
