<tr>
	<td colspan="2">
		{% if title %}
		<DIV><A HREF="/">{{ sitename }}</A></DIV>
		{% else %}
		<H1>{{ sitename }}</H1>
		{% endif %}
	</td>
</tr>
<tr>
	<td colspan="2">
		<P><IMG SRC="/files/linha01.gif" WIDTH="100%" HEIGHT="30"></P>
	</td>
</tr>