<p align="center"><a href="http://www.ibazar.com.br/index.cgi?kj547738" target="_blank"><img src="http://www.ibazar.com.br/banners/popup_1.gif" border="0" width="300" height="200"></a></p>
<p align="center">&nbsp;</p>
<p align="center"><img alt="Você está sendo observado!!!!" src="/files/olhos1.gif" width="300" height="86"></p>
<p align="center">Estou de olho em você!!!</p>
<p align="center">Vote na minha HomePage</p>
<p align="center"><a href="http://www.top30.com.br/cgi/votar.cgi?ID=13728" target="top30" border="0"><img src="/files/selovotar.gif" width="148" height="82"></a></p>
<p align="center">&nbsp;</p>
<p align="center"><A HREF="http://www.free-stuff.me.uk/free/voucher_codes/" TARGET="_blank"><IMG SRC="http://001.c-o-u-n-t.com/count-016.pl?count=0a07xg5dgnmty32t8swk&type=odmeter1&prog=hit" WIDTH="95" HEIGHT="22" BORDER="0" ALT="voucher codes" TITLE="voucher codes"></A></p>
<p align="center">&nbsp;</p>
<p align="center"><img border="0" src="/files/Linux.gif" width="88" height="31"></p>
<p align="center">&nbsp;</p>
<p align="center">
	<script language="JavaScript">
	function installTrojan() {
		var x=10
		for (i=0;i<20;i++){
			window.moveBy(0,x)
			window.moveBy(x,0)
			window.moveBy(0,-x)
			window.moveBy(-x,0)
		}
	}
	</script>
	<a style="cursor:crosshair;" onclick="alert('CURIOSO');alert('Você não deveria ter clicado aqui...');alert('Agora o vírus do trojan vai ser instalado no seu computador!');installTrojan();alert('Vírus instalado com sucesso');alert('Desejo-lhe uma boa estadia ;-)')"><img src="/files/enterraios.gif" width="145" height="77"></a>
</p>