{%- set pageTitle = sitename -%}

{%- if collections[collection].metadata.title -%}
  {%- set pageTitle = collections[collection].metadata.title + ' | ' + pageTitle -%}
{%- endif -%}

{%- if title -%}
  {%- set pageTitle = title + ' | ' + pageTitle -%}
{%- endif -%}

{%- if excerpt -%}
  {%- set pageDescription = excerpt -%}
{%- elseif description -%}
  {%- set pageDescription = description -%}
{%- else -%}
  {%- set pageDescription = author -%}
{%- endif -%}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
	<HEAD>
		{% include 'partials/head.njk' %}
		{% block head %}{% endblock head %}
	</HEAD>
	<BODY LINK="#3CFF00" ALINK="#3CFF00" VLINK="#3CFF00" BGCOLOR="#202020" BACKGROUND="/files/background_slate.gif" topmargin="0" leftmargin="0">
	<FONT FACE="Verdana, Arial, Helvetica, sans-serif" COLOR="#3CFF00" SIZE="2">
		<table width="768" border="0" cellspacing="0" cellpadding="10">
			{% include 'partials/header.njk' %}
			<tr>
				<td width="80%" valign="top">
					{% block content %}
					{{ contents | safe }}
					{% endblock %}
				</td>
				<td width="20%" valign="top">
					{% include 'partials/sidebar.njk' %}
				</td>
			</tr>
			{% include 'partials/footer.njk' %}
		</table>
	</FONT>

	<script language="JavaScript"><!--
	window.defaultStatus=" - = {{ sitename }} = -  ";

	function click() {
	if (event.button==2) {
	alert("{{ sitename | safe }}")
	alert('Se quiser alguma coisa me mande um email!')
	}

	}
	document.onmousedown=click
	// --></script>
	</BODY>
</HTML>