{% extends "base.njk" %}

{% block head %}
<META NAME="revisit-after" CONTENT="15 days">
{% endblock head %}

{% block content %}
{{ contents | safe }}

{% if collections.blog.length %}
<UL>
	{% for item in collections.blog %}
	<LI>
		<H2><A HREF="/{{ item.permalink }}">{{ item.title }}</A></H2>
		<P><I><FONT SIZE="1">{{ item.pubdate }}</FONT></I></P>
		<P>{{ item.excerpt }}</P>
	</LI>
	{% endfor %}
</UL>
{% endif %}

{# Liberar a partir de agosto/2007
<p align="center"><img src="/files/image610.gif" width="765" height="22"></p>

<h2>Contato</h2>
<form action="http://www2.woofoo.com/user-cgi/FormMail.pl" method="POST">
<input type="HIDDEN" name="recipient" value="{{ author.email }}">
Digite o assunto do seu e-mail: <br>
<input type="TEXT" name="subject"><br>
Digite seu endereço de e-mail: <br>
<input type="TEXT" name="email"><br>
Insira o conteúdo do seu e-mail: <br>
<textarea name="content" rows="9" cols="45"></textarea><br>
<input type="IMAGE" src="/files/CONTATO.GIF">
</form>

<p align="center"><img src="/files/image610.gif" width="765" height="22"></p> #}
{% endblock content %}
