{% extends "base.njk" %}

{% block head %}
<META NAME="revisit-after" CONTENT="15 days">
<link rel="canonical" href="{{ siteurl | safe }}">
{% endblock head %}

{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td colspan="2">
			<p align="center"><img src="/files/bemvindo.gif" border="0" width="220" height="70"></p>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<script language="JavaScript"><!--
	hoje = new Date()
	dia = hoje.getDate()
	dias = hoje.getDay()
	mes = hoje.getMonth()
	ano = hoje.getFullYear()
	if (dia < 10)
		dia = "0" + dia
	function CriaArray (n) {
	this.length = n }
	NomeDia = new CriaArray(7)
	NomeDia[0] = "Domingo"
	NomeDia[1] = "Segunda-feira"
	NomeDia[2] = "Terça-feira"
	NomeDia[3] = "Quarta-feira"
	NomeDia[4] = "Quinta-feira"
	NomeDia[5] = "Sexta-feira"
	NomeDia[6] = "Sábado"
	NomeMes = new CriaArray(12)
	NomeMes[0] = "Janeiro"
	NomeMes[1] = "Fevereiro"
	NomeMes[2] = "Março"
	NomeMes[3] = "Abril"
	NomeMes[4] = "Maio"
	NomeMes[5] = "Junho"
	NomeMes[6] = "Julho"
	NomeMes[7] = "Agosto"
	NomeMes[8] = "Setembro"
	NomeMes[9] = "Outubro"
	NomeMes[10] = "Novembro"
	NomeMes[11] = "Dezembro"
	// function WriteDate() {
		document.write ("<marquee><font face='Verdana' size='2'>" + NomeDia[dias] + ", " + dia + " de " + NomeMes[mes] + " de " + ano + "</font></marquee>")
	// }
// --></script>
		</td>
	</tr>
	<tr>
		<td colspan="2">
		</td>
	</tr>
	<tr>
		<td colspan="2">
			{% if pagination.files.length %}
			<UL class="posts">
				{% for item in pagination.files %}
				<LI>
					<H2><A HREF="{{ item.permalink }}">{{ item.title }}</A></H2>
					<P><I><FONT SIZE="1">{{ item.pubdate }}</FONT></I></P>
					<P>{{ item.excerpt }}</P>
				</LI>
				{% endfor %}
			</UL>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>
			{% if pagination.previous %}
			<p align="left"><a href="/{{ pagination.previous.path }}"><img src="/files/back.gif" width="64" height="24"></a></p>
			{% endif %}
		</td>
		<td>
			{% if pagination.next %}
			<p align="right"><a href="/{{ pagination.next.path }}"><img src="/files/next.gif" width="64" height="24"></a></p>
			{% endif %}
		</td>
	</tr>
</table>
{% endblock content %}
